body {
  background-color: lightblue;
}

h1, h2, h3, p, li {
  text-align: center;
}

.contact button {
  margin: 0 auto;
  display:block;
}

/* Need for nav links to work all sections. */
.navbar-inverse{
    z-index: 999;
}

